<section class="section-specs">
    <div class="container">
        <div class="select-list">
            <div id="phantom-3-pro-specs" class="select-content">
                <div class="row">
                    <div class="col-xs-12"></div>
                    <div class="col-md-6 col-xs-12">
                        <h3 class="section-title">Aircraft</h3>
                        <table class="table-specs">
                            <tbody>
                                <tr>
                                    <th>Weight (including battery and propellers)</th>
                                    <td>1280 g</td>
                                </tr>
                                <tr>
                                    <th>Diagonal Size (Excluding Propellers)</th>
                                    <td>350 mm</td>
                                </tr>
                                <tr>
                                    <th>Max Ascent Speed</th>
                                    <td>5 m/s</td>
                                </tr>
                                <tr>
                                    <th>Max Descent Speed</th>
                                    <td>3 m/s</td>
                                </tr>
                                <tr>
                                    <th>Hover Accuracy</th>
                                    <td>
                                        <ul>
                                            <li>Vertical:
                                                <br>+/- 0.1 m (when Vision Positioning is active) or +/- 0.5 m</li>
                                            <li>Horizontal:
                                                <br> +/- 1.5 m</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Max Speed</th>
                                    <td>16 m/s (ATTI mode, no wind)</td>
                                </tr>
                                <tr>
                                    <th>Max Service Ceiling Above Sea Level</th>
                                    <td>6000 m (Default altitude limit: 120 m above takeoff point)</td>
                                </tr>
                                <tr>
                                    <th>Operating Temperature</th>
                                    <td>0°C to 40°C</td>
                                </tr>
                                <tr>
                                    <th>GPS Mode</th>
                                    <td>GPS/GLONASS</td>
                                </tr>
                                <tr>
                                    <th>Max Flight Time</th>
                                    <td>Approx. 23 minutes</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="section-title">Gimbal</h3>
                        <table class="table-specs">
                            <tbody>
                                <tr>
                                    <th>Controllable Range</th>
                                    <td>Pitch -90° to +30°</td>
                                </tr>
                                <tr>
                                    <th>Stabilization</th>
                                    <td>3-axis (pitch, roll, yaw)</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="section-title">Remote Controller</h3>
                        <table class="table-specs">
                            <tbody>
                                <tr>
                                    <th>Operating Frequency</th>
                                    <td>2.400 GHz-2.483 GHz</td>
                                </tr>
                                <tr>
                                    <th>Max Transmission Distance</th>
                                    <td>Up to 5 km or 3.1 miles (unobstructed, free of interference) when FCC compliant
                                        <br>Up to 3.5 km or 2.1 miles (unobstructed, free of interference) when CE compliant
                                    </td>
                                </tr>
                                <tr>
                                    <th>Operating Temperature</th>
                                    <td>32° to 104° F ( 0° to 40° C )</td>
                                </tr>
                                <tr>
                                    <th>Battery</th>
                                    <td>6000 mAh LiPo 2S</td>
                                </tr>
                                <tr>
                                    <th>Transmitter Power (EIRP)</th>
                                    <td>
                                        <ul>
                                            <li>FCC: 20 dBm</li>
                                            <li>CE: 16 dBm</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Operating Voltage</th>
                                    <td>1.2 A @7.4 V</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="section-title">Intelligent Flight Battery</h3>
                        <table class="table-specs">
                            <tbody>
                                <tr>
                                    <th>Capacity</th>
                                    <td>4480 mAh</td>
                                </tr>
                                <tr>
                                    <th>Voltage</th>
                                    <td>15.2 V</td>
                                </tr>
                                <tr>
                                    <th>Battery Type</th>
                                    <td>LiPo 4S</td>
                                </tr>
                                <tr>
                                    <th>Energy</th>
                                    <td>68 Wh</td>
                                </tr>
                                <tr>
                                    <th>Net Weight</th>
                                    <td>365 g</td>
                                </tr>
                                <tr>
                                    <th>Operating Temperature</th>
                                    <td>14° to 104° F ( -10° to 40° C )</td>
                                </tr>
                                <tr>
                                    <th>Max Charging Power</th>
                                    <td>100 W</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table-specs">
                            <tbody>
                                <tr>
                                   <td>The Phantom 3 Professional has been certified by Apple in their Works with iMovie and Works with Final Cut Pro X programs, so you can edit 4K without worry whether you are a professional or shooting for fun.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h3 class="section-title">Camera</h3>
                        <table class="table-specs">
                            <tbody>
                                <tr>
                                    <th>Sensor</th>
                                    <td>1/2.3” CMOS
                                        <br>Effective pixels: 12.4 M (total pixels: 12.76 M)</td>
                                </tr>
                                <tr>
                                    <th>Lens</th>
                                    <td>FOV 94° 20 mm (35 mm format equivalent) f/2.8, focus at ∞</td>
                                </tr>
                                <tr>
                                    <th>ISO Range</th>
                                    <td>
                                        <ul>
                                            <li>100-3200 (video)</li>
                                            <li>100-1600 (photo)</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Shutter Speed</th>
                                    <td>8s -1/8000s</td>
                                </tr>
                                <tr>
                                    <th>Image Max Size</th>
                                    <td>4000×3000</td>
                                </tr>
                                <tr>
                                    <th>Still Photography Modes</th>
                                    <td>
                                        <ul>
                                            <li>Single Shot</li>
                                            <li>Burst Shooting: 3/5/7 shots</li>
                                            <li>Auto Exposure Bracketing (AEB): 3/5</li>
                                            <li>Bracketed Frames at 0.7EV Bias</li>
                                            <li>Time-lapse</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Video Recording Modes</th>
                                    <td>
                                        <ul>
                                            <li>UHD: 4096x2160p 24/25, 3840x2160p 24/25/30</li>
                                            <li>FHD: 1920x1080p 24/25/30/48/50/60</li>
                                            <li>HD: 1280x720p 24/25/30/48/50/60</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Supported SD Card Types</th>
                                    <td>Micro SD
                                        <br>Max capacity: 64 GB. Class 10 or UHS-1 rating required</td>
                                </tr>
                                <tr>
                                    <th>Max Video Bitrate</th>
                                    <td>60 Mbps</td>
                                </tr>
                                <tr>
                                    <th>Supported File Formats</th>
                                    <td>FAT32 ( ≤ 32 GB ); exFAT ( > 32 GB )</td>
                                </tr>
                                <tr>
                                    <th>Operating Temperature</th>
                                    <td>32° to 104° F ( 0° to 40° C )</td>
                                </tr>
                                <tr>
                                    <th>Photo</th>
                                    <td>JPEG, DNG</td>
                                </tr>
                                <tr>
                                    <th>Video</th>
                                    <td>MP4, MOV (MPEG-4 AVC/H.264)</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="section-title">Downward Vision System</h3>
                        <table class="table-specs">
                            <tbody>
                                <tr>
                                    <th>Velocity Range</th>
                                    <td>Less than 8 m/s (2 m above ground)</td>
                                </tr>
                                <tr>
                                    <th>Altitude Range</th>
                                    <td>30 cm-300 cm</td>
                                </tr>
                                <tr>
                                    <th>Operating Range</th>
                                    <td>50 cm-300 cm</td>
                                </tr>
                                <tr>
                                    <th>Operating Environment</th>
                                    <td>Surface with clear pattern and adequate lighting (Lux > 15)</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="section-title">Charger</h3>
                        <table class="table-specs">
                            <tbody>
                                <tr>
                                    <th>Voltage</th>
                                    <td>17.4 V</td>
                                </tr>
                                <tr>
                                    <th>Rated Power</th>
                                    <td>100 W</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="section-title">App / Live View</h3>
                        <table class="table-specs">
                            <tbody>
                                <tr>
                                    <th>Mobile App</th>
                                    <td>DJI GO</td>
                                </tr>
                                <tr>
                                    <th>EIRP</th>
                                    <td>100mW</td>
                                </tr>
                                <tr>
                                    <th>Power Spectral Density</th>
                                    <td>6.9mW/MHz</td>
                                </tr>
                                <tr>
                                    <th>Live View Working Frequency</th>
                                    <td>2.4GHz ISM</td>
                                </tr>
                                <tr>
                                    <th>Live View Quality</th>
                                    <td>720P @ 30fps </td>
                                </tr>
                                <tr>
                                    <th>Latency</th>
                                    <td>220ms (depending on conditions and mobile device)</td>
                                </tr>
                                <tr>
                                    <th>Required Operating Systems</th>
                                    <td>
                                        <ul>
                                            <li>iOS 8.0 or later</li>
                                            <li>Android 4.1.2 or later</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Recommended Devices</th>
                                    <td>
                                        <ul>
                                            <li>ios: iPhone 5s, iPhone 6, iPhone 6 Plus, iPhone 6s, iPhone 6s Plus, iPod touch 6, iPad Pro, iPad Air, iPad Air Wi-Fi + Cellular, iPad mini 2, iPad mini 2 Wi-Fi + Cellular, iPad Air 2, iPad Air 2 Wi-Fi + Cellular, iPad mini 3, iPad mini 3 Wi-Fi + Cellular, iPad mini 4, and iPad mini 4 Wi-Fi + Cellular. This app is optimized for iPhone 5s, iPhone 6, iPhone 6 Plus, iPhone 6s and iPhone 6s Plus.</li>
                                            <li>Android: Samsung tabs 705c, Samsung S6, Samsung S5, Samsung NOTE4, Samsung NOTE3, Google Nexus 9, Google Nexus 7 II, Ascend Mate7, Huawei Mate 8, Nubia Z7 mini, SONY Xperia Z3, MI 3, MI PAD</li>
                                        </ul>
                                        <p>*Support for additional Android devices available as testing and development continues.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>